.checkout {
    display: flex;
    width: 100%;
    gap: 20px;
}

.checkout-product {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    padding: 25px;
}

.box h2 {
    margin: 20px 0;
}

.checkout-review {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checkout-review-info {
    justify-content: space-between;
    align-items: center;
}

.checkout-review-info-img {
    width: 110px;
    height: 110px;
}

.checkout-review-info img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.checkout-payments {
    width: 35%;
}

.checkout-product {
    width: 65%;
}

.checkout-delivery-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-delivery-title button {
    border-radius: 50px;
    padding: 5px 30px;
    border: none;
    height: 40px;
    letter-spacing: 0.5px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.checkout-delivery-information {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.checkout-product-price, .product-checkout-title {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.coupon {
    position: relative;
    width: 100%;
    height: 70px;
    margin: 20px 0;
}

.coupon input {
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    outline: none;
    background: #f5f7f9;
}

.coupon button {
    position: absolute;
    width: 25%;
    height: 40px;
    top: 8%;
    right: 10px;
    bottom: 0;
    border: none;
    border-radius: 25px;
    background: var(--dark-green);
    color: #ffffff;
}

.checkout-payments-option {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.checkout-payments-option div {
    display: flex;
    gap: 10px;
}

.control-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.control-input-row {
    width: 49%;
}

.control-input input {
    height: 50%;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    outline: none;
}



.checkout-btn {
    width: 100%;
    height: 50px;
    font-size: 22px;
    padding: 5px 20px;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    background-color: var(--dark-green);
}

.checkout-recipe {
    width: 100%;
    display: flex;
    justify-content: space-between;
}