.shopping-cart {
    margin: 20px 0;
    /* float: right; */
    background: white;
    width: 320px;
    /* top: 50%; */
    right: 3%;
    position: absolute;
    border-radius: 3px;
    padding: 20px;
    z-index: 1000;
    border: 1px solid #6394F8;
}

.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}

.shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
}


.shopping-cart-items {

    padding-top: 20px;
}

.shopping-cart-items .shopping-cart-item {
    margin-bottom: 18px;
}

.shopping-cart-items .shopping-cart-item--image {
    float: left;
    margin-right: 12px;
}

.shopping-cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}

.shopping-cart-items .item-price {
    color: #6394F8;
    margin-right: 8px;
}

.shopping-cart-items .item-quantity {
    color: #ABB0BE;
}


.shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

.button {
    background: #6394F8;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;

}

.shopping-cart-item {
    display: flex;

}

.button:hover {
    background: lighten(#6394F8, 3%);
}

.shopping-cart-item:after {
    content: "";
    display: table;
    clear: both;
}

.shopping-cart-item .shopping-cart-item--image img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.shopping-cart-item .shopping-cart-item--title {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.shopping-cart-item .shopping-cart-item--remove {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping-cart-item .shopping-cart-item--remove svg {
    color: rgb(241, 91, 91);
    /* cursor: pointer; */
}