.hero {
    display: flex;
    width: 100%;
    /* height: 150px; */
    padding: 10px;
    background-color: #fcf0e4;
    margin: 50px 0;
    overflow: hidden;
}

.hero .hero-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 50px;
    align-items: flex-start;
}

.hero .hero-content p {
    color: var(--dark-green);
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.hero .hero-btn {
    background-color: var(--dark-green);
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 10px 30px;
    cursor: pointer;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}

.hero .hero-btn:hover {
    background-color: #ffffff;
    color: var(--dark-green);
    border: 1px solid var(--dark-green);
}

.hero .hero-img {
    width: 50%;
    height: 300px;
    position: relative;
}

.hero .hero-img img {
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}